html,head,body{
    height: 100%;
    width: 99.2%;
}
.title{
    font-size: 2em;
    margin: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.search{
    display:flex;
    justify-content: center;
    border-top: rgb(182, 174, 174) 1px solid;
    border-bottom: rgb(182, 174, 174) 1px solid;
    
    /* width: 60%; */
}
.search_item:nth-child(1),
.search_item:nth-child(3){
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    background-color: rgb(219, 207, 207);
}
.search_item:nth-child(2),
.search_item:nth-child(4){
    display: flex;
    justify-content: center;
    flex-grow: 1.4;
}
#cb_search{
    width: 98%;
}
#seacrchKeyword{
    width: 90%;
}
.container_btn{
    margin-top: 1%;
    border-top: rgb(182, 174, 174) 1px solid;
    padding: 5px;
}
.container_btn .btn{
    width: 9%;
    font-size: 1.1em;
}


table{
    border:1px solid;
    width: 100%;
    border-collapse: collapse;
    text-align:center;
}
th,td{
    border: 1px solid;
    font-weight: bold;
    font-size: 1.1em;
}
tbody{
    overflow-y:scroll;
    height: 500px;
}
tbody tr:nth-child(even){
  background-color: lightgoldenrodyellow;
}
