html,head,body{
    width: 99%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-auto-rows: minmax(50px,auto);
    column-gap: 1%;
    /* row-gap: 10%; */
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: burlywood;
}

.search{
    display: flex;
    justify-content: center;
}
.header_container{
    display: flex;
    justify-content: center;
}
.item:nth-child(1){
    grid-column:1/3;
    grid-row: 1/2;
    /* background-color: cadetblue; */
    margin-top: 3%;
}
.item{
    /* background-color: wheat; */
    /* width: 100%; */
}
.item:nth-last-child(1){
    /* background-color: teal; */
    height: 100%;
}
.input_comtainer{
    /* background-color: violet; */
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    /* row-gap: 1%; */
}
.inputform{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-top: 5px;
    max-height: 30px;
}
.btn_container{
    display: flex;
    flex-direction: row-reverse;
}
.tables{
    overflow-y:scroll;
    height: 500px;
}
table{
    width: 100%;
}
.tables talbe th:nth-child(1){
    width:5%
}
.cnt {
    display:flex;
    justify-content: space-around;
}
.cnt div{
    font-size: 1.4em;
    font-weight: bold;
}