<div class="middle">
    <div class="container_btn">
        <button type="button" class="btn btn-secondary btn-lg" id="btn_search">검색</button>
        <button type="button" class="btn btn-secondary btn-lg" id="btn_save">추가</button>
        <button type="button" class="btn btn-secondary btn-lg" id="btn_delete">삭제</button>
    </div>
    <div class="row">
        <div id="jqgRidZone">
            <div id="jqGridContainer">
                <table id="jqGrid">

                </table>
                <div id="jqGridPager">

                </div>
            </div >
            <div id="InsertZone">

            </div>
        </div>
    </div>
    <canvas id="myChart" width="400" height="400">
        hi
    </canvas>

</div>