<div class="top">
    <div class="logo">Logo</div>
    <div class="menu">
        {{#menu}}
            <div class="menuItem" onclick="location.href='{{link}}';"> {{menuItem}}</div>
        {{/menu}}
    </div>
</div>