<div class="top">
    <div class="logo">Logo</div>
    <div class="menu">
        <div class="menuItem">영업물류</div>
        <div class="menuItem">자재관리</div>
        <div class="menuItem">품질관리</div>
        <div class="menuItem">설비관리</div>
        <div class="menuItem">생산관리</div>
        <div class="menuItem">시스템관리</div>
    </div>
</div>