<div class="top">
    <div class="logo">{{title}}</div>
    <div class="menu">
        <div class="menuItemContainer">
            {{#menu}}
                <div class="menuItem" onclick="location.href='{{titleMenuUrl}}';"> {{titleMenuName}}</div>
            {{/menu}}
            {{^menu}}
                <p>저장된 TitleMenu 데이터가 없습니다.</p>
            {{/menu}}
        </div>

    </div>
</div>