html,body,.container,.row{
    height: 100%;
    width: 100%;
}

.container .col6s{
    width: 50%;
    height: 100%;
    /* background-color: darkcyan; */
}
table{
    width: 100%;
    text-align: center;
}

.container .col6s iframe{
    width: 100%;
    height: 100%;
}
.btns{
    margin: 5px;
}
.inputform{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: .5rem;
}
.inputform label{
    position: relative;
    left : 20%
}