
<div class="btn_container">
    <button type="button" class="btn btn-secondary" id="btn_save">추가</button>
    <button type="button" class="btn btn-secondary" id="btn_delete">삭제</button>
    <button type="button" class="btn btn-secondary" id="btn_update">수정</button>
</div>
<div class="input_container">
    <div class="inputform">
        <label for="orgid">사업장</label>
        <input type="text" id="orgid"/>
    </div>
    <div class="inputform">
        <label for="companyid">공장</label>
        <input type="text" id="companyid"/>
    </div>
    <div class="inputform">
        <label for="employeenumber">사원 번호</label>
        <input type="text" id="employeenumber"/>
    </div>
    <div class="inputform">
        <label for="inspectortype">사원구분</label>
        <input type="text" required maxlength="20" id="inspectortype"/>
    </div>
    <div class="inputform">
        <label for="krname">사원명</label>
        <input type="text" required maxlength="200" id="krname"/>
    </div>
    <div class="inputform">
        <label for="departmentcode">부서코드</label>
        <input type="text" required maxlength="20" id="departmentcode"/>
    </div>
    <div class="inputform">
        <label for="positioncode">직위</label>
        <input type="text" id="positioncode" required maxlength="20"/>
    </div>
    <div class="inputform">
        <label for="upperemployeenumber">상위자</label>
        <input type="text" id="upperemployeenumber" required maxlength="20"/>
    </div>
    <div class="inputform">
        <label for="leaderyn">부서장여부</label>
        <input type="text" id="leaderyn" required maxlength="1"/>
    </div>
    <div class="inputform">
        <label for="effectivestartdate">입사일정</label>
        <input type="date" id="effectivestartdate"/>
    </div>
    <div class="inputform">
        <label for="effectiveenddate">퇴사일정</label>
        <input type="date" id="effectiveenddate"/>
    </div>
    <div class="inputform">
        <label for="email">이메일</label>
        <input type="email" id="email" required maxlength="200"/>
    </div>
    <div class="inputform">
        <label for="phonenumber">전화번호</label>
        <input type="text" id="phonenumber" required maxlength="20"/>
    </div>
    <div class="inputform">
        <label for="useyn">사용유무</label>
        <input type="text" id="useyn" required maxlength="1"/>
    </div>
    <div class="inputform">
        <label for="remarks">비고</label>
        <input type="text" id="remarks" required maxlength="200"/>
    </div>
    <div class="inputform">
        <label for="createdby">등록자</label>
        <input type="text" id="createdby" required maxlength="30"/>
    </div>
    <div class="inputform">
        <label for="creationdate">등록 일자</label>
        <input type="date" id="creationdate" />
    </div>
    <div class="inputform">
        <label for="lastupdatedby">수정자</label>
        <input type="text" id="lastupdatedby" required maxlength="30"/>
    </div>
    <div class="inputform">
        <label for="lastupdatedate">수정 일자</label>
        <input type="date" id="lastupdatedate"/>
    </div>
</div>