<table border="1">
    <thead>
        <tr>
            <th>사원코드</th>
            <th>사원명</th>
            <th>직위</th>
        </tr>
    </thead>
    <tbody>
        {{#employeers}}
            <tr>
                <td><a href="/api/employeer/{{employee_number}}"/>{{employee_number}}</td>
                <td><a href="/api/employeer/{{employee_number}}"/>{{kr_name}}</td>
                <td>{{position_code}}</td>
            </tr>
        {{/employeers}}

        <tr>
            <td>총 인원</td>
            <td rowspan="3">인원수 넣기</td>
        </tr>
    </tbody>

</table>