{{>layout/header}}
<div class="container">
    {{>layout/top}}

    <div class="mid">
        {{>layout/nav}}
        <div class="md_right">{{>layout/middle}}</div>
    </div>




    <div class="bottom">
        사업장,설비 연결 ( 나중에 추가)
    </div>
</div>

{{>layout/footer}}