{{>layout/header}}
<div>
    <div class="left_side">
        <button type="button" id="btn_save">추가</button>
        <button type="button" id="btn_delete">삭제</button>
        <button type="button" id="btn_update">수정</button>
        {{>left_list}}
    </div>
    <div class="right_side">
        <iframe src="">

        </iframe>
        {{>right_employeer}}
    </div>

</div>

{{>layout/footer}}