{{>layout/header}}
<div class="container">
    <div class="item">
        test
    </div>
    <div class="item">
        {{>left_list}}
    </div>
    <div class="item">
        {{>employee_update}}
    </div>

</div>
{{>layout/footer}}
<!--{{>layout/header}}-->
<!--<a href="/">홈페이지</a>-->
<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <div>-->
<!--                {{>left_list}}-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="col6s">-->
<!--            {{>employee_update}}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--&lt;!&ndash;        {{>right_employeer}}&ndash;&gt;-->



<!--{{>layout/footer}}-->