{{>layout/header}}
<div class="container">
    <div class="item">
        test
    </div>
    <div class="item">
        {{>left_list}}
    </div>
    <div class="item">
        {{>employee_update}}
    </div>

</div>
{{>layout/footer}}
